

<div class="modal fade" id="show_details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link" data-dismiss="modal"><i class="icon_close_alt2"></i></a>
				<h3 class="white">Product Details</h3>
	

				<div id="p_details">
				</div>
				 


			</div>
		</div>
</div>