
<% if products.blank? %>
<h5 class="muted regular text-center ">Please Choose Category First To Show you products</h5>
<% else %>
<h5 class="muted regular text-center ">List Of products</h5>

	<div class="row">
		<% products.each do |product| %>
				<div class="col-md-4">
					<div class="team text-center">
						<div class="cover" style="background:url('team/tv.jpg'
						); background-size:cover;">
							<div class="overlay text-center">
								<h3 class="white">$9,999.99</h3>
								<h5 class="light light-white">any thing</h5>
							</div>
						</div>
						

						<%= image_tag "team/tv1.png", :alt => nil,class: "avatar" %>
						<div class="title">
							<h4><%= product.name %></h4>
							<h5 class="muted regular"><%= product.description %></h5>
						</div>

						<%= link_to "Show Details",product_details_path(:product_id => product.id),:remote =>true, "data-toggle" => "modal",'data-target' => '#show_details', :class => 'btn btn-blue-fill' %> 

					</div>
				</div>
				
		<% end %>
	</div>

	

<% end %>




