
<section id="products" class="section gray-bg">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Products</h2>
				<h4 class="light muted">Know more about product prices!</h4>
				<h4 class="light muted">

				</h4>
			</div>
			<div id="items_grid" >
				<% if products.blank? %>
					<h5 class="muted regular text-center ">Please Choose Category First To Show you products</h5>
				<% end %>
 			 </div>
			
		</div>
	</section>